<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="true">
  <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />

  <!-- Properties -->
  <springProperty name="LOKI_URL" source="loki.url" />
  <property name="LOG_DIR" value="/var/log/" />
  <property name="APP_NAME" value="zeep-talos" />

  <!-- Console appender for local debugging -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Batching Loki HTTP Appender -->
  <appender name="LOKI_HTTP_BATCHED" class="com.acs_tr069.test_tr069.logging.LokiHttpAppenderWithBatching">
    <lokiUrl>${LOKI_URL}</lokiUrl>
    <batchSize>30</batchSize>
    <flushIntervalMs>3000</flushIntervalMs>
    <jsonEncoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp>
          <fieldName>timestamp</fieldName>
          <pattern>yyyy-MM-dd HH:mm:ss</pattern>
        </timestamp>
        <logLevel />
        <message />
        <mdc>
          <includeMdcKeyName>method</includeMdcKeyName>
          <includeMdcKeyName>uri</includeMdcKeyName>
          <includeMdcKeyName>status</includeMdcKeyName>
          <includeMdcKeyName>durationMs</includeMdcKeyName>
          <includeMdcKeyName>clientIp</includeMdcKeyName>
          <!-- <includeMdcKeyName>requestIp</includeMdcKeyName> -->
          <includeMdcKeyName>userId</includeMdcKeyName>
          <includeMdcKeyName>username</includeMdcKeyName>
          <includeMdcKeyName>sessionId</includeMdcKeyName>
          <includeMdcKeyName>clientId</includeMdcKeyName>
          <includeMdcKeyName>userAgent</includeMdcKeyName>
        </mdc>
      </providers>
    </jsonEncoder>
  </appender>

  <!-- File logging for promtail -->
  <appender name="API_ACCESS_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${LOG_DIR}/${APP_NAME}.api_access.json.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${LOG_DIR}/${APP_NAME}.api_access.%d{yyyy-MM-dd}.json.log</fileNamePattern>
      <maxHistory>7</maxHistory>
    </rollingPolicy>
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
      <providers>
        <timestamp>
          <fieldName>timestamp</fieldName>
          <pattern>yyyy-MM-dd'T'HH:mm:ss.SSSZ</pattern>
        </timestamp>
        <threadName />
        <logLevel />
        <loggerName />
        <message />
        <mdc>
          <includeMdcKeyName>method</includeMdcKeyName>
          <includeMdcKeyName>uri</includeMdcKeyName>
          <includeMdcKeyName>status</includeMdcKeyName>
          <includeMdcKeyName>durationMs</includeMdcKeyName>
          <includeMdcKeyName>clientIp</includeMdcKeyName>
          <includeMdcKeyName>requestIp</includeMdcKeyName>
          <includeMdcKeyName>userId</includeMdcKeyName>
          <includeMdcKeyName>username</includeMdcKeyName>
          <includeMdcKeyName>sessionId</includeMdcKeyName>
          <includeMdcKeyName>clientId</includeMdcKeyName>
          <includeMdcKeyName>userAgent</includeMdcKeyName>
        </mdc>
      </providers>
    </encoder>
  </appender>

  <!-- Debug loggers to Console -->
  <logger name="com.acs_tr069.test_tr069.logging.LokiHttpAppenderWithBatching" level="DEBUG" additivity="false">
    <appender-ref ref="CONSOLE" />
  </logger>

  <!-- Root logger -->
  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>

  <logger name="com.acs_tr069.test_tr069.Filter.ApiAccessLogFilter" level="INFO" additivity="false">
    <appender-ref ref="LOKI_HTTP_BATCHED"/>
    <!-- <appender-ref ref="API_ACCESS_FILE"/> -->
  </logger>

</configuration>
